$primario: blue;
$secundario: yellow;

body {
    background-color: $primario;
}

#principal {
    h1 {
        background-color: violet;
        padding: 2rem;
        display: flex;
        justify-content: center;
        align-items: flex-start
    }
}

.rectangulo {
    background-color: brown;
    margin: 35px;
    width: 100%;
    overflow-x: auto;

    h1 {
        font-size: 2em;
        justify-content: space-evenly;
        display: flex;
        display: row;
        
    }
    p:hover{
        color: $secundario;
    }
}


ul {
        display: flex;
        justify-content: space-evenly;
        background-color: $secundario;
        padding: 2em;
        margin: 2em;
        

    }

@media (min-width: 768px) {
    body {
        background-color: red;
    }
    
}
